/*fbfbfc*/
.loading-lock {
  width: 340px;
  height: 260px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -70px 0 0 -170px;
  border-radius: 4px;
  background-color: #151f2b;
  color: #b1b6c1;
  text-align: center; }
  .loading-lock .loading-lock-logo {
    font-size: 90px;
    position: relative;
    height: 130px; }
    .loading-lock .loading-lock-logo .loading-lock-logo-unloaded {
      color: #0f1118;
      position: absolute;
      top: 0;
      margin-left: 50%; }
      .loading-lock .loading-lock-logo .loading-lock-logo-unloaded i {
        margin-left: -100%;
        overflow: hidden; }
    .loading-lock .loading-lock-logo .loading-lock-logo-loaded {
      color: #2dbb93;
      position: absolute;
      top: 0;
      margin-left: 50%; }
      .loading-lock .loading-lock-logo .loading-lock-logo-loaded i {
        margin-left: -200%;
        width: 0;
        overflow: hidden; }
