<!DOCTYPE html>
<html ng-app="psonocli" class="datastore" ng-csp ng-strict-di>
<head>
    <title>Psono PW</title>
    <meta charset="utf-8">

    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16">
    <link rel="shortcut icon" href="img/favicon.ico">
    <meta charset="utf-8"/>
    <meta name="description" content="Psono Web Client to login or register">
    <meta name="msapplication-config" content="img/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <link rel="search" type="application/opensearchdescription+xml" title="Search Psono " href="search.xml" />

    <!-- build:build_min_css -->
    <link href="css/lib/cssreset-context-min.css" rel="stylesheet" />
    <link href="css/lib/opensans.css" rel="stylesheet" />
    <link href="css/lib/angular-csp.css" rel="stylesheet">
    <link href="css/lib/bootstrap.css" rel="stylesheet">
    <link href="css/lib/ui-bootstrap-csp.css" rel="stylesheet">
    <link href="css/lib/datatables.min.css" rel="stylesheet">
    <link href="css/lib/angular-snap.css" rel="stylesheet">
    <link href="css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="css/lib/angular-datatables.css" rel="stylesheet">
    <link href="css/lib/datatables.bootstrap.css" rel="stylesheet">
    <link href="css/lib/angular-ui-select.css" rel="stylesheet">
    <link href="css/lib/loading-bar.min.css" rel="stylesheet">

    <link href="css/angular-tree-view.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- endbuild -->

    <link href="css/datastore.css" rel="stylesheet">
</head>
<body style="overflow-y: scroll">
<div  ng-controller="WrapperCtrl" class="ng-cloak">
    <div ng-if="view === 'logged_in'" ng-controller="MainCtrl">

        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html#">
                        <img alt="Psono" src="img/logo-inverse.png" height="100%">
                    </a>

                    <button type="button" class="navbar-toggle btn btn-primary" style="padding: 6px 12px">
                        Logout
                    </button>
                </div>
                <div  class="navbar-text navbar-right">
                    <button id="logout-button" type="button" class="btn btn-primary hidden-xs" ng-click="logout()">
                        Logout
                    </button>
                </div>
            </div>
        </nav>

        <div>
            <div ng-view></div>
        </div>

    </div>
    <div ng-if="view === 'logged_out'" ng-controller="LoginCtrl">
        <!-- Not logged in, show the login form -->
        <div class="wrapper">

            <div class="loginbox dark">
                <img src="img/logo.png" alt="Psono Web Client" id="logo">
                <a href="https://psono.com/" target="_blank" rel="noopener"><i class="fa fa-info-circle fa-pull-right" aria-hidden="true"> Info</i></a>

                <form name="loginForm" ng-if="view === 'default'" autocomplete="off">
                    <!-- default View -->
                    <div ng-class="{'input-group': loginFormUsername == null || loginFormUsername.indexOf('@') == -1}">
                        <input type="text" class="form-control" id="loginUsername" placeholder="Username" ng-model="loginFormUsername" required aria-describedby="username-addon" autofocus>
                        <span class="input-group-addon" id="username-addon" ng-if="loginFormUsername == null || loginFormUsername.indexOf('@') == -1">@{{selected_server_domain}}</span>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="password" class="form-control" id="loginPassword" placeholder="Password" ng-model="loginFormPassword" required>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" ng-model="loginFormRemember"> Remember username and server</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" ng-model="loginFormTrustDevice"> Trust device</label>
                    </div>

                    <div class="form-group">
                        <button ng-click="initiate_login(loginFormUsername, loginFormPassword, loginFormRemember, loginFormTrustDevice, true)" type="submit" class="btn btn-danger">Login <i class="fa fa-sign-in" aria-hidden="true"></i></button>
                        <a href="register.html">Register</a>
                    </div>

                    <div class="form-group alert alert-danger" ng-repeat="e in errors">
                        <strong>Error:</strong> {{e}}
                    </div>

                    <div class="form-group hideinputcharakter">

                        <label for="serverselection">Server: </label>
                        <input type="text" id="serverselection"
                               uib-popover-template="'view/popover-server-select.html'"
                               popover-trigger="'focus'"
                               ng-model="selected_server_url"
                               ng-change="changing(selected_server_url)"
                               class="form-control">
                    </div>
                </form>

                <form name="newServerForm" ng-if="view === 'new_server'">
                    <!-- new Server View -->
                    <div class="form-group">
                        <h4>New Server</h4>
                    </div>
                    <div class="form-group">
                        <p>Fingerprint of the new server:</p>
                        <textarea class="form-control" id="newServerFingerprint"
                                  placeholder="Fingerprint of the new server"
                                  ng-model="newServerFingerprint" readonly="readonly"></textarea>
                    </div>

                    <div class="form-group">
                        <button ng-click="approve_new_server()" type="submit"
                                class="btn btn-danger">Approve</button>
                        <a href="#" ng-click="disapprove_new_server()">Cancel</a>
                    </div>

                    <div class="form-group alert alert-danger" ng-repeat="e in errors">
                        <strong>Error:</strong> {{e}}
                    </div>

                    <div class="form-group">
                        <div class="alert alert-info">
                            <strong>Info!</strong> It appears, that you want to connect to this server for the first time.
                            Please verify that the fingerprint of the server is correct before approving.
                        </div>
                    </div>
                </form>

                <form name="signatureChangedForm" ng-if="view === 'signature_changed'">
                    <!-- signature changed View -->
                    <div class="form-group">
                        <h4>Server signature changed:</h4>
                    </div>
                    <div class="form-group">
                        <p>The new presented fingerprint is:</p>
                        <textarea class="form-control" id="changedFingerprint"
                                  placeholder="Fingerprint of the new server"
                                  ng-model="changedFingerprint" readonly="readonly"></textarea>
                    </div>
                    <div class="form-group">
                        <p>The old fingerprint was:</p>
                        <textarea class="form-control" id="oldFingerprint"
                                  placeholder="Fingerprint of the old server"
                                  ng-model="oldFingerprint" readonly="readonly"></textarea>
                    </div>
                    <div class="form-group">
                        <div class="alert alert-danger">
                            <strong>Danger!</strong> The signature of the server changed. It could mean that the connection
                            to the server has been compromised.<br><br><strong>Please contact the owner of this server.</strong>
                        </div>
                    </div>

                    <div class="form-group">
                        <button ng-click="disapprove_new_server()" type="submit"
                                class="btn btn-danger">Cancel</button>
                        <a href="#" ng-click="approve_new_server()">Ignore and continue.</a>
                    </div>

                    <div class="form-group alert alert-danger" ng-repeat="e in errors">
                        <strong>Error:</strong> {{e}}
                    </div>
                </form>

                <form name="askPlainForm" ng-if="view === 'ask_send_plain'">
                    <!-- signature changed View -->
                    <div class="form-group">
                        <h4>Server asks for your plaintext password:</h4>
                    </div>
                    <div class="form-group">
                        <div class="alert alert-warning">
                            <strong>Danger!</strong> Accepting this will send your plain password to the server and should only be allowed
                            if you are using LDAP or similar authentication methods. You can decline this, but this might fail in an
                            authentication failure.
                        </div>
                    </div>

                    <div class="form-group">
                        <button ng-click="approve_send_plain()" type="submit"
                                class="btn btn-warning">Approve (unsafe)</button>
                        <button ng-click="disapprove_send_plain()" type="submit"
                                class="btn btn-success">Decline (safe)</button>
                    </div>

                    <div class="form-group alert alert-danger" ng-repeat="e in errors">
                        <strong>Error:</strong> {{e}}
                    </div>
                </form>

                <form name="googleAuthenticatorForm" ng-if="view === 'google_authenticator_2fa'">
                    <!-- google_authenticator_2fa View -->
                    <div class="form-group">
                        Please enter your Google Authenticator Code:
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="gaToken" placeholder="Google Authenticator Token"
                               ng-model="googleAuthenticatorFormGAToken" required maxlength="6" minlength="6">
                    </div>

                    <div class="form-group">
                        <button ng-click="ga_verify(googleAuthenticatorFormGAToken)" type="submit"
                                class="btn btn-danger">Send</button>
                        <button class="btn" type="button" ng-click="cancel();">Close</button>
                    </div>

                    <div class="form-group alert alert-danger" ng-repeat="e in errors">
                        <strong>Error:</strong> {{e}}
                    </div>
                </form>

                <form name="yubikeyOTPForm" ng-if="view === 'yubikey_otp_2fa'">
                    <!-- yubikey_otp_2fa View -->
                    <div class="form-group">
                        Please enter your YubiKey OTP Token:
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="yubikeyOTPToken" placeholder="YubiKey Token"
                               ng-model="yubikeyOTPFormToken" required>
                    </div>

                    <div class="form-group">
                        <button ng-click="yubikey_otp_verify(yubikeyOTPFormToken)" type="submit"
                                class="btn btn-danger">Send</button>
                        <button class="btn" type="button" ng-click="cancel();">Abort</button>
                    </div>

                    <div class="form-group alert alert-danger" ng-repeat="e in errors">
                        <strong>Error:</strong> {{e}}
                    </div>
                </form>

                <form name="duoForm" ng-if="view === 'duo_2fa'">
                    <!-- duo_2fa View -->
                    <div class="form-group">
                        Approve the push notification on your mobile or provide your Duo Code:
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="duoToken" placeholder="Duo Code"
                               ng-model="duoFormToken" required>
                    </div>

                    <div class="form-group">
                        <button ng-click="duo_verify(duoFormToken)" type="submit"
                                class="btn btn-danger">Send</button>
                        <button class="btn" type="button" ng-click="cancel();">Close</button>
                    </div>

                    <div class="form-group alert alert-danger" ng-repeat="e in errors">
                        <strong>Error:</strong> {{e}}
                    </div>
                </form>

                <div class="box-footer">
                    <a href="lost-password.html">Lost password?</a> <a href="privacy-policy.html">Privacy Policy</a>
                </div>
            </div>
        </div>
    </div>

</div>
<div ng-show="::false" style="position: fixed; height: 100%; width: 100%; background-color: #0f1118; top: 0; left: 0; z-index: 10000;">
    <div style="position: absolute; font-size: 26px; color: #2dbb93; background-color: #151f2b; top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 60px 60px 60px 60px; text-align: center">
        <i style="
           display: inline-block;
           font: normal normal normal 14px/1 FontAwesome;
           text-rendering: auto;
           font-size: 3em;
           text-align: center;
           animation: fa-spin 2s infinite linear;
           vertical-align: middle;">&#xf110;</i> Loading<noscript><br>JavaScript is disabled</noscript>
    </div>

</div>

<!-- build:build_min_js -->
<!-- Start of scripts -->
<script src="js/lib/ecma-nacl.min.js" type="text/javascript"></script>
<script src="js/lib/openpgp.min.js" type="text/javascript"></script>
<script src="js/lib/sha512.min.js" type="text/javascript"></script>
<script src="js/lib/sha256.min.js" type="text/javascript"></script>
<script src="js/lib/sha1.min.js" type="text/javascript"></script>
<script src="js/lib/uuid.js" type="text/javascript"></script>
<script src="js/lib/chart.min.js" type="text/javascript"></script>
<script src="js/lib/client.min.js" type="text/javascript"></script>
<script src="js/lib/jquery.min.js" type="text/javascript"></script>
<script src="js/lib/datatables.min.js" type="text/javascript"></script>
<script src="js/lib/snap.min.js" type="text/javascript"></script>
<script src="js/lib/jquery-ui.min.js"></script>
<script src="js/lib/sortable.min.js" type="application/javascript"></script>
<script src="js/lib/lokijs.min.js" type="application/javascript"></script>
<script src="js/lib/qrcode.min.js" type="application/javascript"></script>
<script src="js/lib/fastclick.js" type="application/javascript"></script>
<script src="js/lib/password-generator.js" type="application/javascript"></script>
<script src="js/lib/papaparse.min.js" type="application/javascript"></script>
<script src="js/lib/fast-xml-parser.js" type="text/javascript"></script>


<!-- Angular Juju -->
<script src="js/lib/angular.min.js" type="application/javascript"></script>
<script src="js/lib/angular-animate.min.js" type="application/javascript"></script>
<script src="js/lib/angular-touch.min.js" type="application/javascript"></script>
<script src="js/lib/angular-complexify.min.js" type="application/javascript"></script>
<script src="js/lib/loading-bar.min.js" type="application/javascript"></script>
<script src="js/lib/angular-chart.min.js" type="application/javascript"></script>
<script src="js/lib/angular-route.min.js" type="application/javascript"></script>
<script src="js/lib/angular-sanitize.min.js" type="application/javascript"></script>
<script src="js/lib/angular-local-storage.min.js" type="application/javascript"></script>
<script src="js/lib/angular-snap.min.js" type="application/javascript"></script>
<script src="js/lib/ui-bootstrap-tpls.min.js" type="application/javascript"></script>
<script src="js/lib/angular-datatables.js" type="application/javascript"></script>
<script src="js/lib/ngdraggable.js" type="application/javascript"></script>
<script src="js/lib/angular-ui-select.js" type="application/javascript"></script>
<script src="js/lib/ng-context-menu.js" type="application/javascript"></script>

<script src="js/module/ng-tree.js" type="application/javascript"></script>

<script src="js/main.js" type="application/javascript"></script>

<script src="js/directive/fileReader.js" type="application/javascript"></script>
<script src="js/directive/treeView.js" type="application/javascript"></script>
<script src="js/directive/treeViewNode.js" type="application/javascript"></script>

<script src="js/controller/AcceptShareCtrl.js"></script>
<script src="js/controller/AccountCtrl.js" type="application/javascript"></script>
<script src="js/controller/ActivationCtrl.js" type="application/javascript"></script>
<script src="js/controller/DatastoreCtrl.js"></script>
<script src="js/controller/SecurityReportCtrl.js" type="application/javascript"></script>
<script src="js/controller/LoginCtrl.js" type="application/javascript"></script>
<script src="js/controller/GPGDecryptMessageCtrl.js" type="application/javascript"></script>
<script src="js/controller/GPGEncryptMessageCtrl.js" type="application/javascript"></script>
<script src="js/controller/LostPasswordCtrl.js" type="application/javascript"></script>
<script src="js/controller/MainCtrl.js" type="application/javascript"></script>
<script src="js/controller/modal/AcceptShareCtrl.js" type="application/javascript"></script>
<script src="js/controller/modal/ConfigureGoogleAuthenticatorCtrl.js" type="application/javascript"></script>
<script src="js/controller/modal/DeleteOtherSessionsCtrl.js" type="application/javascript"></script>
<script src="js/controller/modal/AddGPGReceiverCtrl.js" type="application/javascript"></script>
<script src="js/controller/modal/ConfigureDuoCtrl.js" type="application/javascript"></script>
<script src="js/controller/modal/ConfigureYubiKeyOTPCtrl.js" type="application/javascript"></script>
<script src="js/controller/modal/CreateDatastoreCtrl.js" type="application/javascript"></script>
<script src="js/controller/modal/EditDatastoreCtrl.js" type="application/javascript"></script>
<script src="js/controller/modal/DeleteDatastoreCtrl.js" type="application/javascript"></script>
<script src="js/controller/modal/DatastoreNewEntryCtrl.js" type="application/javascript"></script>
<script src="js/controller/modal/DisplayShareRightsCtrl.js" type="application/javascript"></script>
<script src="js/controller/modal/EditEntryCtrl.js" type="application/javascript"></script>
<script src="js/controller/modal/EditFolderCtrl.js" type="application/javascript"></script>
<script src="js/controller/modal/NewFolderCtrl.js" type="application/javascript"></script>
<script src="js/controller/modal/VerifyCtrl.js" type="application/javascript"></script>
<script src="js/controller/modal/NewGroupCtrl.js" type="application/javascript"></script>
<script src="js/controller/modal/PickUserCtrl.js" type="application/javascript"></script>
<script src="js/controller/modal/EditGroupCtrl.js" type="application/javascript"></script>
<script src="js/controller/modal/EncryptMessageGPGCtrl.js" type="application/javascript"></script>
<script src="js/controller/modal/DecryptMessageGPGCtrl.js" type="application/javascript"></script>
<script src="js/controller/modal/EditGPGUserCtrl.js" type="application/javascript"></script>
<script src="js/controller/modal/GenerateNewMailGPGKeyCtrl.js" type="application/javascript"></script>
<script src="js/controller/modal/ImportMailGPGKeyAsTextCtrl.js" type="application/javascript"></script>
<script src="js/controller/modal/ShareEditEntryCtrl.js" type="application/javascript"></script>
<script src="js/controller/modal/ShareEntryCtrl.js" type="application/javascript"></script>
<script src="js/controller/modal/ShareNewEntryCtrl.js" type="application/javascript"></script>
<script src="js/controller/modal/ShowRecoverycodeCtrl.js" type="application/javascript"></script>
<script src="js/controller/modal/DeleteAccountCtrl.js" type="application/javascript"></script>
<script src="js/controller/EditEntryBigCtrl.js" type="application/javascript"></script>
<script src="js/controller/OpenSecretCtrl.js" type="application/javascript"></script>
<script src="js/controller/OtherCtrl.js" type="application/javascript"></script>
<script src="js/controller/SessionsCtrl.js" type="application/javascript"></script>
<script src="js/controller/KnownHostsCtrl.js" type="application/javascript"></script>
<script src="js/controller/OtherDatastoreCtrl.js" type="application/javascript"></script>
<script src="js/controller/ExportCtrl.js" type="application/javascript"></script>
<script src="js/controller/ImportCtrl.js" type="application/javascript"></script>
<script src="js/controller/PanelCtrl.js" type="application/javascript"></script>
<script src="js/controller/RegisterCtrl.js" type="application/javascript"></script>
<script src="js/controller/SettingsCtrl.js" type="application/javascript"></script>
<script src="js/controller/ShareCtrl.js" type="application/javascript"></script>
<script src="js/controller/ShareusersCtrl.js" type="application/javascript"></script>
<script src="js/controller/GroupsCtrl.js" type="application/javascript"></script>
<script src="js/controller/WrapperCtrl.js" type="application/javascript"></script>
<script src="js/controller/Enforce2FaCtrl.js" type="application/javascript"></script>

<script src="js/service/api-client.js" type="application/javascript"></script>
<script src="js/service/api-pwnedpasswords.js" type="application/javascript"></script>
<script src="js/service/helper.js" type="application/javascript"></script>
<script src="js/service/device.js" type="application/javascript"></script>
<script src="js/service/message.js" type="application/javascript"></script>
<script src="js/service/item-blueprint.js" type="application/javascript"></script>
<script src="js/service/share-blueprint.js" type="application/javascript"></script>
<script src="js/service/crypto-library.js" type="application/javascript"></script>
<script src="js/service/converter.js" type="application/javascript"></script>
<script src="js/service/openpgp.js" type="application/javascript"></script>
<script src="js/service/storage.js" type="application/javascript"></script>
<script src="js/service/account.js" type="application/javascript"></script>
<script src="js/service/settings.js" type="application/javascript"></script>
<script src="js/service/manager-base.js" type="application/javascript"></script>
<script src="js/service/manager.js" type="application/javascript"></script>
<script src="js/service/manager-widget.js" type="application/javascript"></script>
<script src="js/service/manager-datastore.js" type="application/javascript"></script>
<script src="js/service/manager-secret-link.js" type="application/javascript"></script>
<script src="js/service/manager-share-link.js" type="application/javascript"></script>
<script src="js/service/manager-export.js" type="application/javascript"></script>
<script src="js/service/manager-hosts.js" type="application/javascript"></script>
<script src="js/service/manager-import.js" type="application/javascript"></script>
<script src="js/service/manager-security-report.js" type="application/javascript"></script>
<script src="js/service/import-chrome-csv.js" type="application/javascript"></script>
<script src="js/service/import-psono-pw-json.js" type="application/javascript"></script>
<script src="js/service/import-lastpass-com-csv.js" type="application/javascript"></script>
<script src="js/service/import-keepassx-org-csv.js" type="application/javascript"></script>
<script src="js/service/import-keepass-info-csv.js" type="application/javascript"></script>
<script src="js/service/import-keepass-info-xml.js" type="application/javascript"></script>
<script src="js/service/manager-secret.js" type="application/javascript"></script>
<script src="js/service/manager-share.js" type="application/javascript"></script>
<script src="js/service/manager-datastore-password.js" type="application/javascript"></script>
<script src="js/service/manager-datastore-user.js" type="application/javascript"></script>
<script src="js/service/manager-datastore-gpg-user.js" type="application/javascript"></script>
<script src="js/service/manager-groups.js" type="application/javascript"></script>
<script src="js/service/manager-datastore-setting.js" type="application/javascript"></script>
<script src="js/service/browser-client.js" type="application/javascript"></script>
<script src="js/service/drop-down-menu-watcher.js" type="application/javascript"></script>

<script src="view/templates.js" type="application/javascript"></script>
<!-- End Angular Juju -->
<!-- endbuild -->
</body>
</html>