<!DOCTYPE html>
<div class="container-fluid">
    <div class="navi row">
        <div class="location col-sm-8">
            <!--
            <span> <a href="#">/account</a> </span>
            -->
        </div>
        <div class="title col-sm-4">
            <h1>Account Details</h1>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading clearfix ng-scope">
            <h3 class="panel-title ng-binding ng-scope">Account</h3>
        </div>
        <div class="panel-body" style="height: auto;">

            <form class="form-horizontal" role="form">
                <uib-tabset class="tabset_expand" active="active_tab">

                    <uib-tab index="$index" ng-repeat="tab in tabs" heading="{{ tab.title }}"  select="open_tab(tab.key)">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">
                                <h2>{{ tab.title }}:</h2>
                                {{ tab.description }}
                            </div>
                        </div>
                        <hr>

                        <div ng-class="{true: 'has-error'}[submitted &amp;&amp; editEntryForm[n.name].$invalid]"
                             class="form-group" ng-repeat="field in account.fields"
                             ng-if="field.tab === tab.key">
                            <label class="control-label col-sm-6 col-md-4"
                                   for="accountForm-{{field.key}}">
                                {{field.title}}
                            </label>
                            <div class="col-sm-6 col-md-8" ng-if="field.type !== 'label_only'">
                                <input type="{{field.type}}" ng-model="field.value"
                                       ng-if="field.type != 'button'"
                                       ng-required="{{field.required}}"
                                       ng-readonly="{{field.readonly}}"
                                       placeholder="{{field.placeholder}}" id="accountForm-{{field.key}}"
                                       name="{{field.key}}"
                                       class="form-control">

                                <button ng-if="field.type === 'button'" class="btn btn-primary {{field.class}}"
                                        ng-click="account[field.onClick](node)"
                                        type="{{field.type}}" ng-hide="field.hidden" ng-click="">{{field.btnLabel}}</button>

                                <uib-progressbar value="(field.value | complexify)"
                                                 ng-if="field.complexify && (field.value | complexify) > 0">
                                    <span complexify="field.value"></span>%
                                    <span complexify="field.value" type="verbal"></span>
                                </uib-progressbar>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>

                <div>
                    <button class="btn btn-primary" type="button" ng-click="submitted=true; save();">Save</button>
                    <span class="error" ng-repeat="e in errors">{{e}}</span>
                    <span ng-repeat="m in msgs">{{m}}</span>
                </div>

            </form>
        </div>
    </div>

</div>