<div class="container-fluid">

    <div ng-controller="GPGDecryptMessageCtrl" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Decrypted Message</h3>
        </div>
        <div class="panel-body">

            <!--<div class="panel-buttons">-->
            <!--<button type="submit" class="btn btn-primary btn-primary" ng-click="create_group()">-->
            <!--<i class="fa fa-plus"></i> Create New Group-->
            <!--</button>-->
            <!--<div class='clearfix'></div>-->
            <!--</div>-->

            <div ng-if="!data.decrypting">
                <div class="row">
                    <label class="col-xs-3 col-sm-2">Sender:</label>
                    <div class="col-xs-9 col-sm-10">{{data.sender}}</div>
                </div>
            </div>
            <hr style="margin-top: 4px">
            <div ng-if="!data.decrypting">
                <label>Message:</label>
                <div class="yui3-cssreset">
                    <!-- message contains potentially dangerous html content, so we are using angularjs sanitizer -->
                    <div ng-if="data.message" ng-bind-html="data.message"></div>
                </div>
            </div>
            <div ng-if="data.decrypting">
                <div class="big-font-icon-and-msg">
                    <i style="
                           display: inline-block;
                           font: normal normal normal 14px/1 FontAwesome;
                           text-rendering: auto;
                           font-size: 3em;
                           text-align: center;
                           animation: fa-spin 2s infinite linear;
                           vertical-align: middle;">&#xf110;</i>
                    Decrypting
                </div>
            </div>

            <div class="form-group alert alert-danger" ng-repeat="e in errors">
                <strong>Error:</strong> {{e}}
            </div>

        </div>
    </div>

</div>