<form name="modalAddGPGUserForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Add GPG User</h3>
    </div>
    <div class="modal-body">
        <div class="form-group" ng-class="{true: 'has-error'}[submitted && modalAddGPGUserForm.name.$invalid]">
            <input type="email" name="email" class="form-control" id="email" placeholder="Email" ng-model="data.email" required autofocus>
            <p class="help-block" ng-show="submitted && modalAddGPGUserForm.name.$error.required">The email is required</p>
        </div>
        <div class="form-group">
            <input type="checkbox" ng-model="is_default"> Set as Default Datastore?
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" type="button" ng-click="cancel();">Close</button>
        <button class="btn btn-primary" type="submit" ng-click="submitted=true;save()">Add</button>
    </div>
</form>