<form name="newFolderForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">New Folder</h3>
    </div>
    <div class="modal-body">
        <div class="form-group" ng-class="{true: 'has-error'}[submitted && newFolderForm.name.$invalid]">
            <input type="text" name="name" class="form-control" id="folderName" placeholder="Folder Name" ng-model="name" required autofocus>
            <p class="help-block" ng-show="submitted && newFolderForm.name.$error.required">The folder's name is required</p>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-click="submitted=true;save()">OK</button>
    </div>
</form>