<form name="modalAddGPGReceiverForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Address Book</h3>
    </div>
    <div class="modal-body">
        <uib-tabset class="tabset_expand">
            <uib-tab heading="Known Recipients List">
                <table datatable="ng" class="row-border hover" dt-options="dtOptions" dt-column-defs="dtColumnDefs">
                    <thead>
                    <tr>
                        <th>E-Mail</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="r in data.receiver">
                        <td>{{ r.email }}</td>
                        <td>
                            <button type="button" class="btn btn-default btn-sm" ng-click="edit_gpg_user(r)">
                                <i class="fa fa-wrench" aria-hidden="true"></i>
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-default btn-sm" ng-click="delete_receiver(r)">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm" ng-click="add_existing_recipient(r)">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </uib-tab>
            <uib-tab heading="Add New Recipient"  active="data.add_recipients_tab_active">
                <div class="form-group" ng-class="{true: 'has-error'}[submitted && modalAddGPGUserForm.name.$invalid]">
                    <input type="email" name="email" class="form-control" id="email" placeholder="Email" ng-model="data.new_email">
                    <p class="help-block" ng-show="submitted && modalAddGPGUserForm.name.$error.required">The email is required</p>
                </div>
                <div class="form-group">
                    <button class="btn" type="button" ng-click="search_public_key_server();">Search Public Key Server </button>
                </div>
                <div class="form-group">
                    <textarea class="form-control"
                              placeholder="or provice the public key manually, including: -----BEGIN PGP PUBLIC KEY BLOCK----- and -----END PGP PUBLIC KEY BLOCK-----"
                              ng-model="data.new_public_key"></textarea>
                </div>
                <div class="form-group" ng-if="data.new_public_key | fingerprint">
                    Fingerprint: {{data.new_public_key | fingerprint}}
                </div>
                <div class="form-group" ng-if="data.new_public_key | fingerprint">
                    <button class="btn btn-primary" type="button" ng-click="add_new_recipient();">Add</button>
                </div>
                <div class="form-group" ng-if="data.new_public_key | fingerprint">
                    <span class="error" ng-repeat="e in errors">{{e}}</span>
                </div>

            </uib-tab>
        </uib-tabset>


    </div>
    <div class="modal-footer">
        <button class="btn" type="button" ng-click="cancel();">Close</button>
    </div>
</form>