<form name="modalCreateDatastoreForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Create Datastore</h3>
    </div>
    <div class="modal-body">
        <div class="form-group" ng-class="{true: 'has-error'}[submitted && modalCreateDatastoreForm.name.$invalid]">
            <input type="text" name="name" class="form-control" id="folderName" placeholder="Datastore Description" ng-model="description" required autofocus>
            <p class="help-block" ng-show="submitted && modalCreateDatastoreForm.name.$error.required">The datastore's name is required</p>
        </div>
        <div class="form-group">
            <input type="checkbox" ng-model="is_default"> Set as Default Datastore?
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" type="button" ng-click="cancel();">Close</button>
        <button class="btn btn-primary" type="submit" ng-click="submitted=true;save()">Create</button>
    </div>
</form>