<form name="modalSetupGoogleAuthenticatorForm" novalidate autocomplete="off">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Duo</h3>
    </div>
    <div class="modal-body">


        <uib-tabset>

            <uib-tab heading="Existing Duos">


                <table datatable="ng" class="row-border hover" dt-options="dtOptions" dt-column-defs="dtColumnDefs">
                    <thead>
                    <tr>
                        <th>Duo Title</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="duo in duos">
                        <td>{{ duo.title }}</td>
                        <td>
                            <button type="button" class="btn btn-default btn-sm" ng-click="delete_duo(duos, duo.id)">
                                Delete
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <span ng-repeat="e in delete_errors" class="help-block">{{e}}</span>
            </uib-tab>

            <uib-tab heading="New Duo">
                <br>

                <div class="form-horizontal" ng-if="step === 'step1'">
                    <div class="row form-group">

                        <label class="control-label col-sm-6 col-md-4"
                               for="newDuoForm-title">
                            <span>Title</span>
                        </label>

                        <div class="col-sm-6 col-md-8">
                            <input type="text" ng-model="new_duo.title"
                                   ng-required="true"
                                   placeholder="Title of your Duo" id="newDuoForm-title"
                                   name="title"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">

                        <label class="control-label col-sm-6 col-md-4"
                               for="newDuoForm-integration_key">
                            <span>Integration Key</span>
                        </label>

                        <div class="col-sm-6 col-md-8">
                            <input type="text" ng-model="new_duo.integration_key"
                                   ng-required="true"
                                   placeholder="Integration Key" id="newDuoForm-integration_key"
                                   name="integration_key"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">

                        <label class="control-label col-sm-6 col-md-4"
                               for="newDuoForm-secret_key">
                            <span>Secret Key</span>
                        </label>

                        <div class="col-sm-6 col-md-8">
                            <input type="password" ng-model="new_duo.secret_key"
                                   ng-required="true"
                                   placeholder="Secret Key" id="newDuoForm-secret_key"
                                   name="secret_key"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">

                        <label class="control-label col-sm-6 col-md-4"
                               for="newDuoForm-host">
                            <span>Host</span>
                        </label>

                        <div class="col-sm-6 col-md-8">
                            <input type="text" ng-model="new_duo.host"
                                   ng-required="true"
                                   placeholder="Host" id="newDuoForm-host"
                                   name="host"
                                   class="form-control">
                            <span ng-repeat="e in errors" class="help-block">{{e}}</span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="control-label col-sm-6 col-md-4">
                            &nbsp;
                        </label>

                        <div class="col-sm-6 col-md-8">
                            <button class="btn btn-primary btn-primary" ng-click="create_duo(new_duo)" type="button">Setup</button>
                        </div>
                    </div>
                </div>

                <div class="form-horizontal" ng-if="step === 'step2'">
                    <div class="text-center" ng-bind-html="duo_html">

                    </div>
                    <div class="row form-group">
                        <div class="text-center">
                            <button class="btn btn-primary btn-primary" ng-click="goto_step3()" type="button">Scan the code and then click here</button>
                        </div>
                    </div>

                </div>


                <div class="form-horizontal" ng-if="step === 'step3'">
                    <div class="form-group">

                        <label class="control-label col-sm-6 col-md-4"
                               for="validateGAForm-title">
                            <span>Code</span>
                        </label>

                        <div class="col-sm-6 col-md-8">
                            <input type="text" ng-model="new_ga.code"
                                   ng-required="true"
                                   placeholder="One Code for validation" id="validateGAForm-title"
                                   name="title"
                                   class="form-control">
                            <span ng-repeat="e in errors" class="help-block">{{e}}</span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="control-label col-sm-6 col-md-4">
                            &nbsp;
                        </label>

                        <div class="col-sm-6 col-md-8">
                            <button class="btn btn-primary btn-primary" ng-click="activate_duo(new_duo)" type="button">Validate</button>
                        </div>
                    </div>
                </div>

            </uib-tab>
        </uib-tabset>

    </div>
    <div class="modal-footer">
        <button class="btn" type="button" ng-click="close();">Close</button>
    </div>
</form>