<form name="modalDeleteDatastoreForm" novalidate autocomplete="off">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Logout other devices</h3>
    </div>
    <div class="modal-body">

        <div class="form-group alert alert-info">
            <strong>Info!</strong> You have changed your passwords. We advice you to logout all other devices!
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" type="button" ng-click="cancel();">Close</button>
        <button class="btn btn-primary" type="submit" ng-click="submitted=true;save()">Logout other devices</button>
    </div>
</form>