<!DOCTYPE html>
<div class="container-fluid">
    <div class="navi row">
        <div class="location col-sm-8">
            <!--
            <span> <a href="#">/settings</a> </span>
            -->
        </div>
        <div class="title col-sm-4">
            <h1>Settings</h1>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading clearfix ng-scope">
            <h3 class="panel-title ng-binding ng-scope">Settings</h3>
        </div>
        <div class="panel-body" style="height: auto;">

            <form class="form-horizontal" role="form">
                <uib-tabset class="tabset_expand" active="active_tab">

                    <uib-tab index="$index" ng-repeat="tab in tabs" heading="{{ tab.title }}"  select="open_tab(tab.key)">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">
                                <h2>{{ tab.title }}:</h2>
                                {{ tab.description }}
                            </div>
                        </div>
                        <hr>
                        <div ng-class="{true: 'has-error'}[submitted &amp;&amp; editEntryForm[n.name].$invalid]"
                             class="form-group" ng-repeat="field in settings.fields"
                             ng-if="field.tab === tab.key">

                            <label class="control-label col-sm-4 col-md-2"
                                   for="settingsForm-{{field.key}}">
                                {{field.title}}
                            </label>
                            <div class="col-sm-8 col-md-10">
                                <input ng-if="field.field === 'input' && field.type !== 'checkbox'"
                                       type="{{field.type}}" ng-model="field.value"
                                       ng-required="{{field.required}}"
                                       ng-readonly="{{field.readonly}}"
                                       placeholder="{{field.placeholder}}" id="settingsForm-{{field.key}}"
                                       name="{{field.key}}"
                                       class="form-control">

                                <input ng-if="field.field === 'input' && field.type === 'checkbox'"
                                       type="{{field.type}}" ng-model="field.value"
                                       style="margin-top:10px;"
                                       ng-required="{{field.required}}"
                                       ng-readonly="{{field.readonly}}"
                                       placeholder="{{field.placeholder}}" id="settingsForm-{{field.key}}"
                                       name="{{field.key}}"
                                >

                                <select class="form-control" ng-if="field.field === 'select'"
                                        ng-options="item as item.label for item in field.options track by item.id"
                                        ng-model="field.value"></select>

                                <uib-progressbar value="field.value | complexify" ng-if="field.complexify && (field.value | complexify) > 0">
                                    <span complexify="field.value"></span>%
                                    <span complexify="field.value" type="verbal"></span>
                                </uib-progressbar>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>

                <div>
                    <button class="btn btn-primary" type="button" ng-click="submitted=true; save();">Save</button>
                    <span class="error" ng-repeat="e in errors">{{e}}</span>
                    <span ng-repeat="m in msgs">{{m}}</span>
                </div>

            </form>
        </div>
    </div>

</div>